.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    background-color: transparent;


}


.titulo {
    font-size: 24px;
    padding: 20px 0;
}

/*
.contenedor-conciertos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens 
    gap: 40px;
    padding: 70px;
}


@media (max-width: 1024px) {
    .contenedor-conciertos {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens 
    }
}

@media (max-width: 768px) {
    .contenedor-conciertos {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet screens 
    }
}

@media (max-width: 350px) {
    .contenedor-conciertos {
        grid-template-columns: 1fr; /* 1 column on small/mobile screens 
    }
}


.card {
	border-radius: 10px;
	min-height: 270px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}
    */


.contenedor-conciertos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centra las cards horizontalmente */
    gap: 35px;
    /* Espacio entre las cards */
    padding: 20px;
    background-color: transparent;
    /* Cambia el color si es necesario */
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño de la card al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Incrementa la sombra para dar un efecto de "elevación" */
}


.img {
    width: 100%;
    height: 300px;
    /* Ajusta la altura de la imagen */
    object-fit: cover;
    /* Ajusta la imagen para que ocupe todo el espacio sin deformarse */
}

.textos {
    padding: 10px;
    background-color: black;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    /* Sombra blanca */
    border-radius: 0px;
    /* Esquinas redondeadas para un mejor efecto */
    transition: box-shadow 0.3s ease-in-out;
    /* Transición suave para la sombra */
}

.textos:hover {
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.4);
    /* Aumenta el efecto al pasar el mouse */
}


.textos p {
    margin: 5px 0 0 0;
    font-size: 14px;
    /* Ajusta el tamaño de la fuente del título si es necesario */
    white-space: normal;
    /* Permite que el texto ocupe varias líneas */
    overflow: visible;
    /* Muestra todo el contenido */
}


.menu-link h3 {
    color: blue;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.menu-link h3:hover {
    text-decoration: underline;
}




.card .textos {
    height: 100%;


}

.banner {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;


}

.banner ul {
    list-style: none;
}

.banner ul li {
    margin: 15px;
    font-weight: bold;
}

.banner .boton {
    background: #FFD600;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}



/* NAVBAR */
.header {
    display: flex;
    justify-content: space-between;
    /* Espacia el contenido entre ambos extremos */
    align-items: center;
    /* Alinea verticalmente los elementos */
    padding: 10px;

    background-color:#4b134f ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Añade una sombra sutil */
    margin-bottom: 20px;
    /* Espacio debajo del navbar */
}

.logo-nombre {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
    /* Espacio entre el logo y el nombre de la aplicación */
}

.nombre-app {
    font-size: 24px;
    /* Ajusta el tamaño del texto para mayor legibilidad */
    font-weight: bold;
    color: white;
}

.contenedor-buscador {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* Alinea el campo de búsqueda a la derecha */
    align-items: center;
    padding: 10px 0;
}

.form-search {
    width: 100%;
    max-width: 500px;
    /* Limita el ancho máximo del input */
}

.form-search input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Añade una sombra sutil */
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        flex-wrap: nowrap;
        /* Evita que los elementos se ajusten en la misma línea */
    }

    .form-search {
        width: auto;
    }

    .contenedor-buscador {
        width: auto;
        justify-content: flex-end;
    }

    .form-search input {
        width: 100%;
    }
}